innovaphone/pbx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:inno="http://innovaphone.com/pbx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://innovaphone.com/pbx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>

        <xsd:schema elementFormDefault="qualified" targetNamespace="http://innovaphone.com/pbx">

            <xsd:complexType name="Info">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="vali" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="vals" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="No">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="cn" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="dn" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="e164" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="h323" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Group">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="group" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="active" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Device">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="hw" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="text" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CallInfo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="user" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="call" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="reg" type="xsd:int"/>

                    <xsd:element maxOccurs="1" minOccurs="1" name="active" type="xsd:boolean"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="state" type="xsd:int"/>

                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="No" nillable="true" type="inno:No"/>

                    <xsd:element maxOccurs="1" minOccurs="1" name="msg" type="xsd:string"/>

                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="PresenceStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="open"/>
                    <xsd:enumeration value="closed"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PresenceActivity">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="appointment"/>
                    <xsd:enumeration value="away"/>
                    <xsd:enumeration value="breakfast"/>
                    <xsd:enumeration value="busy"/>
                    <xsd:enumeration value="dinner"/>
                    <xsd:enumeration value="holiday"/>
                    <xsd:enumeration value="in-transit"/>
                    <xsd:enumeration value="looking-for-work"/>

                    <xsd:enumeration value="lunch"/>
                    <xsd:enumeration value="meal"/>
                    <xsd:enumeration value="meeting"/>
                    <xsd:enumeration value="on-the-phone"/>
                    <xsd:enumeration value="other"/>
                    <xsd:enumeration value="performance"/>
                    <xsd:enumeration value="permanent-absence"/>
                    <xsd:enumeration value="playing"/>
                    <xsd:enumeration value="presentation"/>

                    <xsd:enumeration value="shopping"/>
                    <xsd:enumeration value="sleeping"/>
                    <xsd:enumeration value="spectator"/>
                    <xsd:enumeration value="steering"/>
                    <xsd:enumeration value="travel"/>
                    <xsd:enumeration value="tv"/>
                    <xsd:enumeration value="unknown"/>
                    <xsd:enumeration value="vacation"/>
                    <xsd:enumeration value="working"/>

                    <xsd:enumeration value="worship"/>
                    <xsd:enumeration value="dnd"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="Presence">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="status" type="inno:PresenceStatus"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="activity" type="inno:PresenceActivity"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="note" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="UserInfo">
                <xsd:sequence>
                  <xsd:element maxOccurs="1" minOccurs="1" name="active" type="xsd:boolean"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="cn" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="dn" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="e164" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="h323" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="state" type="xsd:int"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="channel" type="xsd:int"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="alert" type="xsd:int"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="guid" type="xsd:string"/>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="groups" nillable="true" type="inno:Group"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="loc" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="node" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="nodenum" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="object" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="cfg" type="xsd:boolean"/>
                  <xsd:element maxOccurs="1" minOccurs="1" name="presence" type="inno:Presence"/>

                  <xsd:element maxOccurs="1" minOccurs="0" name="domain" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="h323email" type="xsd:boolean"/>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="email" nillable="true" type="xsd:string"/>
                  <xsd:element maxOccurs="1" minOccurs="0" name="fake" type="xsd:string"/>

                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="UserInfoArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="inno:UserInfo" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RegInfo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="user" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="reg" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="hw" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="soap" type="xsd:string"/>

                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>          
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="AnyInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="inno:UserInfo"/>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="call" nillable="true" type="inno:CallInfo"/>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="reg" nillable="true" type="inno:RegInfo"/>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="Version">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="VersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="VersionResult" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="GatekeeperID" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Location" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="FirmwareVersion" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Echo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="EchoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Admin">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="xml" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AdminResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Initialize">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="user" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="appl" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="v" type="xsd:boolean"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="v501" type="xsd:boolean"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="v700" type="xsd:boolean"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="v800" type="xsd:boolean"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="vx1100" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="InitializeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="End">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="EndResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="Poll">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PollResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="return" type="inno:AnyInfo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="License">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LicenseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Calls">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="user" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CallsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="CallInfo" nillable="true" type="inno:CallInfo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Devices">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="user" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DevicesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="inno:Device" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        
            <xsd:element name="UserInitialize">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="user" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="xfer" type="xsd:boolean"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="disc" type="xsd:boolean"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="hw" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserInitializeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserEnd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserEndResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserCall">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cn" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="reg" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>            
                        <xsd:element minOccurs="1" maxOccurs="1" name="rc" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="srce164" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserCallResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserClear">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="cause" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>            
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserClearResponse">
                <xsd:complexType/>
            </xsd:element>

                        
            <xsd:element name="UserConnect">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserConnectResponse">
               <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserRc">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="rc" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UserRcResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserInfoTx">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="recv" type="xsd:boolean"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cdpn" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="dsp" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserInfoTxResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserDTMF">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="recv" type="xsd:boolean"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="dtmf" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserDTMFResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserUUI">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="recv" type="xsd:boolean"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="uui" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserUUIResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserPickup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cn" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="group" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="reg" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserPickupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserRedirect">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cn" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>            
                        <xsd:element minOccurs="1" maxOccurs="1" name="rc" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserRedirectResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserReroute">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cn" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="inno:Info"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserRerouteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserTransfer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="a" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="b" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserTransferResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserMediaTransfer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="a" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="b" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:boolean"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="peer" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserMediaTransferResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserCtComplete">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserCtCompleteResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserHold">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="remote" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserHoldResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserRetrieve">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserRetrieveResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="UserPark">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cn" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserParkResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="msg" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="src_e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="src_h323" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserMessageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserLocalNum">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="num" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserLocalNumResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserFindDestination">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserFindDestinationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="user1" type="inno:UserInfo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="v501" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="v700" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="v800" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="vx1100" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="cn" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="e164" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="next" type="xsd:int"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="nohide" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="inno:UserInfoArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserLicense">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="guid" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UserLicenseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SetPresence">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="presence" type="inno:Presence"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="im" type="xsd:boolean"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="contact" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="guid" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="h323" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SetPresenceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LocationUrl">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="v501" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="v700" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="v800" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="vx1100" type="xsd:string"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="loc" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="tls" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LocationUrlResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="VersionRequest">
        <wsdl:part name="parameters" element="inno:Version"/>
    </wsdl:message>
    
    <wsdl:message name="VersionResponse">
        <wsdl:part name="parameters" element="inno:VersionResponse"/>
    </wsdl:message>

    <wsdl:message name="EchoRequest">
        <wsdl:part name="parameters" element="inno:Echo"/>
    </wsdl:message>

    <wsdl:message name="EchoResponse">
        <wsdl:part name="parameters" element="inno:EchoResponse"/>
    </wsdl:message>

    <wsdl:message name="AdminRequest">
        <wsdl:part name="parameters" element="inno:Admin"/>
    </wsdl:message>

    <wsdl:message name="AdminResponse">
        <wsdl:part name="parameters" element="inno:AdminResponse"/>
    </wsdl:message>

    <wsdl:message name="InitializeRequest">
        <wsdl:part name="parameters" element="inno:Initialize"/>
    </wsdl:message>

    <wsdl:message name="InitializeResponse">
        <wsdl:part name="parameters" element="inno:InitializeResponse"/>
    </wsdl:message>

    <wsdl:message name="EndRequest">
        <wsdl:part name="parameters" element="inno:End"/>
    </wsdl:message>

    <wsdl:message name="EndResponse">
        <wsdl:part name="parameters" element="inno:EndResponse"/>
    </wsdl:message>
  
    <wsdl:message name="PollRequest">
        <wsdl:part name="parameters" element="inno:Poll"/>
    </wsdl:message>

    <wsdl:message name="PollResponse">
        <wsdl:part name="parameters" element="inno:PollResponse"/>
    </wsdl:message>

    <wsdl:message name="LicenseRequest">
        <wsdl:part name="parameters" element="inno:License"/>
    </wsdl:message>

    <wsdl:message name="LicenseResponse">
        <wsdl:part name="parameters" element="inno:LicenseResponse"/>
    </wsdl:message>

    <wsdl:message name="CallsRequest">
        <wsdl:part name="parameters" element="inno:Calls"/>
    </wsdl:message>

    <wsdl:message name="CallsResponse">
        <wsdl:part name="parameters" element="inno:CallsResponse"/>
    </wsdl:message>

    <wsdl:message name="DevicesRequest">
        <wsdl:part name="parameters" element="inno:Devices"/>
    </wsdl:message>

    <wsdl:message name="DevicesResponse">
        <wsdl:part name="parameters" element="inno:DevicesResponse"/>
    </wsdl:message>

    <wsdl:message name="UserInitializeRequest">
        <wsdl:part name="parameters" element="inno:UserInitialize"/>
    </wsdl:message>

    <wsdl:message name="UserInitializeResponse">
        <wsdl:part name="parameters" element="inno:UserInitializeResponse"/>
    </wsdl:message>

    <wsdl:message name="UserEndRequest">
        <wsdl:part name="parameters" element="inno:UserEnd"/>
    </wsdl:message>

    <wsdl:message name="UserEndResponse">
        <wsdl:part name="parameters" element="inno:UserEndResponse"/>
    </wsdl:message>

    <wsdl:message name="UserCallRequest">
        <wsdl:part name="parameters" element="inno:UserCall"/>
    </wsdl:message>

    <wsdl:message name="UserCallResponse">
        <wsdl:part name="parameters" element="inno:UserCallResponse"/>
    </wsdl:message>

    <wsdl:message name="UserClearRequest">
        <wsdl:part name="parameters" element="inno:UserClear"/>
    </wsdl:message>

    <wsdl:message name="UserClearResponse">
        <wsdl:part name="parameters" element="inno:UserClearResponse"/>
    </wsdl:message>

    <wsdl:message name="UserConnectRequest">
        <wsdl:part name="parameters" element="inno:UserConnect"/>
    </wsdl:message>

    <wsdl:message name="UserConnectResponse">
        <wsdl:part name="parameters" element="inno:UserConnectResponse"/>
    </wsdl:message>

    <wsdl:message name="UserRcRequest">
        <wsdl:part name="parameters" element="inno:UserRc"/>
    </wsdl:message>

    <wsdl:message name="UserRcResponse">
        <wsdl:part name="parameters" element="inno:UserRcResponse"/>
    </wsdl:message>

    <wsdl:message name="UserInfoRequest">
        <wsdl:part name="parameters" element="inno:UserInfoTx"/>
    </wsdl:message>

    <wsdl:message name="UserInfoResponse">
        <wsdl:part name="parameters" element="inno:UserInfoTxResponse"/>
    </wsdl:message>

    <wsdl:message name="UserDTMFRequest">
        <wsdl:part name="parameters" element="inno:UserDTMF"/>
    </wsdl:message>

    <wsdl:message name="UserDTMFResponse">
        <wsdl:part name="parameters" element="inno:UserDTMFResponse"/>
    </wsdl:message>

    <wsdl:message name="UserUUIRequest">
        <wsdl:part name="parameters" element="inno:UserUUI"/>
    </wsdl:message>

    <wsdl:message name="UserUUIResponse">
        <wsdl:part name="parameters" element="inno:UserUUIResponse"/>
    </wsdl:message>

    <wsdl:message name="UserPickupRequest">
        <wsdl:part name="parameters" element="inno:UserPickup"/>
    </wsdl:message>

    <wsdl:message name="UserPickupResponse">
        <wsdl:part name="parameters" element="inno:UserPickupResponse"/>
    </wsdl:message>

    <wsdl:message name="UserRedirectRequest">
        <wsdl:part name="parameters" element="inno:UserRedirect"/>
    </wsdl:message>

    <wsdl:message name="UserRedirectResponse">
        <wsdl:part name="parameters" element="inno:UserRedirectResponse"/>
    </wsdl:message>

    <wsdl:message name="UserRerouteRequest">
        <wsdl:part name="parameters" element="inno:UserReroute"/>
    </wsdl:message>

    <wsdl:message name="UserRerouteResponse">
        <wsdl:part name="parameters" element="inno:UserRerouteResponse"/>
    </wsdl:message>

    <wsdl:message name="UserTransferRequest">
        <wsdl:part name="parameters" element="inno:UserTransfer"/>
    </wsdl:message>

    <wsdl:message name="UserTransferResponse">
        <wsdl:part name="parameters" element="inno:UserTransferResponse"/>
    </wsdl:message>

    <wsdl:message name="UserMediaTransferRequest">
        <wsdl:part name="parameters" element="inno:UserMediaTransfer"/>
    </wsdl:message>

    <wsdl:message name="UserMediaTransferResponse">
        <wsdl:part name="parameters" element="inno:UserMediaTransferResponse"/>
    </wsdl:message>

    <wsdl:message name="UserCtCompleteRequest">
        <wsdl:part name="parameters" element="inno:UserCtComplete"/>
    </wsdl:message>

    <wsdl:message name="UserCtCompleteResponse">
        <wsdl:part name="parameters" element="inno:UserCtCompleteResponse"/>
    </wsdl:message>

    <wsdl:message name="UserHoldRequest">
        <wsdl:part name="parameters" element="inno:UserHold"/>
    </wsdl:message>

    <wsdl:message name="UserHoldResponse">
        <wsdl:part name="parameters" element="inno:UserHoldResponse"/>
    </wsdl:message>

    <wsdl:message name="UserRetrieveRequest">
        <wsdl:part name="parameters" element="inno:UserRetrieve"/>
    </wsdl:message>

    <wsdl:message name="UserRetrieveResponse">
        <wsdl:part name="parameters" element="inno:UserRetrieveResponse"/>
    </wsdl:message>

    <wsdl:message name="UserParkRequest">
        <wsdl:part name="parameters" element="inno:UserPark"/>
    </wsdl:message>

    <wsdl:message name="UserParkResponse">
        <wsdl:part name="parameters" element="inno:UserParkResponse"/>
    </wsdl:message>

    <wsdl:message name="UserMessageRequest">
        <wsdl:part name="parameters" element="inno:UserMessage"/>
    </wsdl:message>

    <wsdl:message name="UserMessageResponse">
        <wsdl:part name="parameters" element="inno:UserMessageResponse"/>
    </wsdl:message>

    <wsdl:message name="UserLocalNumRequest">
        <wsdl:part name="parameters" element="inno:UserLocalNum"/>
    </wsdl:message>

    <wsdl:message name="UserLocalNumResponse">
        <wsdl:part name="parameters" element="inno:UserLocalNumResponse"/>
    </wsdl:message>

    <wsdl:message name="UserFindDestinationRequest">
        <wsdl:part name="parameters" element="inno:UserFindDestination"/>
    </wsdl:message>

    <wsdl:message name="UserFindDestinationResponse">
        <wsdl:part name="parameters" element="inno:UserFindDestinationResponse"/>
    </wsdl:message>

    <wsdl:message name="FindUserRequest">
        <wsdl:part name="parameters" element="inno:FindUser"/>
    </wsdl:message>

    <wsdl:message name="FindUserResponse">
        <wsdl:part name="parameters" element="inno:FindUserResponse"/>
    </wsdl:message>

    <wsdl:message name="UserLicenseRequest">
        <wsdl:part name="parameters" element="inno:UserLicense"/>
    </wsdl:message>

    <wsdl:message name="UserLicenseResponse">
        <wsdl:part name="parameters" element="inno:UserLicenseResponse"/>
    </wsdl:message>

    <wsdl:message name="SetPresenceRequest">
        <wsdl:part name="parameters" element="inno:SetPresence"/>
    </wsdl:message>

    <wsdl:message name="SetPresenceResponse">
        <wsdl:part name="parameters" element="inno:SetPresenceResponse"/>
    </wsdl:message>

    <wsdl:message name="LocationUrlRequest">
        <wsdl:part name="parameters" element="inno:LocationUrl"/>
    </wsdl:message>

    <wsdl:message name="LocationUrlResponse">
        <wsdl:part name="parameters" element="inno:LocationUrlResponse"/>
    </wsdl:message>

    <wsdl:portType name="pbxPortType">
        <wsdl:operation name="Version">
            <wsdl:input message="inno:VersionRequest"/>
            <wsdl:output message="inno:VersionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Echo">
            <wsdl:input message="inno:EchoRequest"/>
            <wsdl:output message="inno:EchoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Admin">
            <wsdl:input message="inno:AdminRequest"/>
            <wsdl:output message="inno:AdminResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Initialize">
            <wsdl:input message="inno:InitializeRequest"/>
            <wsdl:output message="inno:InitializeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="End">
            <wsdl:input message="inno:EndRequest"/>
            <wsdl:output message="inno:EndResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Poll">
            <wsdl:input message="inno:PollRequest"/>
            <wsdl:output message="inno:PollResponse"/>
        </wsdl:operation>

        <wsdl:operation name="License">
            <wsdl:input message="inno:LicenseRequest"/>
            <wsdl:output message="inno:LicenseResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Devices">
            <wsdl:input message="inno:DevicesRequest"/>
            <wsdl:output message="inno:DevicesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Calls">
            <wsdl:input message="inno:CallsRequest"/>
            <wsdl:output message="inno:CallsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserInitialize">
            <wsdl:input message="inno:UserInitializeRequest"/>
            <wsdl:output message="inno:UserInitializeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserEnd">
            <wsdl:input message="inno:UserEndRequest"/>
            <wsdl:output message="inno:UserEndResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserCall">
            <wsdl:input message="inno:UserCallRequest"/>
            <wsdl:output message="inno:UserCallResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserClear">
            <wsdl:input message="inno:UserClearRequest"/>
            <wsdl:output message="inno:UserClearResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserConnect">
            <wsdl:input message="inno:UserConnectRequest"/>
            <wsdl:output message="inno:UserConnectResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserRc">
            <wsdl:input message="inno:UserRcRequest"/>
            <wsdl:output message="inno:UserRcResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserInfo">
            <wsdl:input message="inno:UserInfoRequest"/>
            <wsdl:output message="inno:UserInfoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserDTMF">
            <wsdl:input message="inno:UserDTMFRequest"/>
            <wsdl:output message="inno:UserDTMFResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserUUI">
            <wsdl:input message="inno:UserUUIRequest"/>
            <wsdl:output message="inno:UserUUIResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserPickup">
            <wsdl:input message="inno:UserPickupRequest"/>
            <wsdl:output message="inno:UserPickupResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserRedirect">
            <wsdl:input message="inno:UserRedirectRequest"/>
            <wsdl:output message="inno:UserRedirectResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserReroute">
            <wsdl:input message="inno:UserRerouteRequest"/>
            <wsdl:output message="inno:UserRerouteResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserTransfer">
            <wsdl:input message="inno:UserTransferRequest"/>
            <wsdl:output message="inno:UserTransferResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserMediaTransfer">
            <wsdl:input message="inno:UserMediaTransferRequest"/>
            <wsdl:output message="inno:UserMediaTransferResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserCtComplete">
            <wsdl:input message="inno:UserCtCompleteRequest"/>
            <wsdl:output message="inno:UserCtCompleteResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserHold">
            <wsdl:input message="inno:UserHoldRequest"/>
            <wsdl:output message="inno:UserHoldResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserRetrieve">
            <wsdl:input message="inno:UserRetrieveRequest"/>
            <wsdl:output message="inno:UserRetrieveResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserPark">
            <wsdl:input message="inno:UserParkRequest"/>
            <wsdl:output message="inno:UserParkResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserMessage">
            <wsdl:input message="inno:UserMessageRequest"/>
            <wsdl:output message="inno:UserMessageResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserLocalNum">
            <wsdl:input message="inno:UserLocalNumRequest"/>
            <wsdl:output message="inno:UserLocalNumResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserFindDestination">
            <wsdl:input message="inno:UserFindDestinationRequest"/>
            <wsdl:output message="inno:UserFindDestinationResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindUser">
            <wsdl:input message="inno:FindUserRequest"/>
            <wsdl:output message="inno:FindUserResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UserLicense">
            <wsdl:input message="inno:UserLicenseRequest"/>
            <wsdl:output message="inno:UserLicenseResponse"/>
        </wsdl:operation>

        <wsdl:operation name="SetPresence">
            <wsdl:input message="inno:SetPresenceRequest"/>
            <wsdl:output message="inno:SetPresenceResponse"/>
        </wsdl:operation>

        <wsdl:operation name="LocationUrl">
            <wsdl:input message="inno:LocationUrlRequest"/>
            <wsdl:output message="inno:LocationUrlResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="pbxBinding" type="inno:pbxPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Version">
            <soap:operation soapAction="http://innovaphone.com/pbx/Version" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Echo">
            <soap:operation soapAction="http://innovaphone.com/pbx/Echo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Admin">
            <soap:operation soapAction="http://innovaphone.com/pbx/Admin" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Initialize">
            <soap:operation soapAction="http://innovaphone.com/pbx/Initialize" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="End">
            <soap:operation soapAction="http://innovaphone.com/pbx/End" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Poll">
            <soap:operation soapAction="http://innovaphone.com/pbx/Poll" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="License">
            <soap:operation soapAction="http://innovaphone.com/pbx/License" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Devices">
            <soap:operation soapAction="http://innovaphone.com/pbx/Devices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Calls">
            <soap:operation soapAction="http://innovaphone.com/pbx/Calls" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserInitialize">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserInitialize" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserEnd">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserEnd" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserCall">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserCall" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserClear">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserClear" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserConnect">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserConnect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserRc">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserRc" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserInfo">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserDTMF">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserDTMF" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserUUI">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserUUI" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserPickup">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserPickup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserRedirect">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserRedirect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserReroute">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserReroute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserTransfer">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserTransfer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserMediaTransfer">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserMediaTransfer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserCtComplete">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserCtComplete" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserHold">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserHold" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserRetrieve">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserRetrieve" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserPark">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserPark" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserMessage">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserLocalNum">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserLocalNum" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserFindDestination">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserFindDestination" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindUser">
            <soap:operation soapAction="http://innovaphone.com/pbx/FindUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UserLicense">
            <soap:operation soapAction="http://innovaphone.com/pbx/UserLicense" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetPresence">
            <soap:operation soapAction="http://innovaphone.com/pbx/SetPresence" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LocationUrl">
            <soap:operation soapAction="http://innovaphone.com/pbx/LocationUrl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="pbx">
        <wsdl:port name="pbxPort" binding="inno:pbxBinding">
            <soap:address location="http://192.168.0.1/PBX0/user.soap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

